# Growth Accounting in OECD Countries

Timothy Kam

In [362]:
import numpy as np 
import pandas as pd 
import os

Purpose:

* Use the Solow-Swan model to inform growth accounting.

* Derive growth accounting relation to estimate TFP growth and TFP share in income growth.

* Do this for a big dataset ([Penn World Tables 9.0](https://www.rug.nl/ggdc/productivity/pwt/pwt-releases/pwt9.0)) for OECD countries.

In [364]:
data_dir = './data/'
data_file = "pwt90.xlsx"

if not os.path.exists(data_dir):
    os.mkdir(data_dir)

In [365]:
try:
    pwt = pd.read_excel(data_dir + data_file)
except:
    url = "https://www.rug.nl/ggdc/docs/" + data_file
    pwt = pd.read_excel(url, sheet_name="Data")
    pwt.to_excel(data_dir + data_file)

In [366]:
# Check list of countries in PWT
pwt["country"].unique()

array(['Aruba', 'Angola', 'Anguilla', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia (Plurinational State of)', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Côte d'Ivoire", 'Cameroon', 'D.R. of the Congo', 'Congo',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Curaçao',
       'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana',
       'Guinea', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Guatemala', 'China, Hong Kong SAR', 'Honduras',
       'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India', 'Ireland',
       'Iran (Islamic Republic of)', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan',
       'Cambodia', 'Saint Kitts and Nevis', 'Republic of Korea', 'Kuwait',
       "Lao People's DR", 'Lebanon', 'Liberia', 'Saint Lucia',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'China, Macao SAR', 'Morocco', 'Republic of Moldova', 'Madagascar',
       'Maldives', 'Mexico', 'TFYR of Macedonia', 'Mali', 'Malta',
       'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania',
       'Montserrat', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Paraguay', 'State of Palestine', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia',
       'Sudan (Former)', 'Senegal', 'Singapore', 'Sierra Leone',
       'El Salvador', 'Serbia', 'Sao Tome and Principe', 'Suriname',
       'Slovakia', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Taiwan', 'U.R. of Tanzania: Mainland', 'Uganda',
       'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'British Virgin Islands',
       'Viet Nam', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [367]:
# Make new dataframe with hierarchical index set ["country", "year"]
df = pwt.set_index(["country", "year"])

In [368]:
# List of select countries
select_country = [
                    "Australia", 
                    "Austria", 
                    "Belgium",
                    "Canada",
                    "Denmark",
                    "Finland",
                    "France", 
                    "Germany", 
                    "Greece",
                    "Iceland",
                    "Ireland",
                    "Italy",
                    "Japan",
                    "Netherlands",
                    "New Zealand",
                    "Norway",
                    "Portugal",
                    "Spain",
                    "Sweden",
                    "Switzerland",
                    "United Kingdom",
                    "United States",
                 ]

# Slice across "country" index using select_country,
# in hierarchical (country, year) index set;
# reassign result to dataframe df
df = df.loc[select_country]

# Slice across columns by select variables
dfga = df[["rgdpna", "rkna", "emp", "labsh"]]

In [369]:
dfga

                          rgdpna          rkna         emp     labsh
country       year
Australia     1950  1.198593e+05  3.337025e+05    3.416363  0.687863
              1951  1.229079e+05  3.570823e+05    3.471946  0.687863
              1952  1.178770e+05  3.698793e+05    3.528433  0.687863
              1953  1.306650e+05  3.910967e+05    3.585839  0.687863
              1954  1.411110e+05  4.179667e+05    3.644179  0.687863
...                          ...           ...         ...       ...
United States 2010  1.527333e+07  4.872814e+07  141.349106  0.595232
              2011  1.551793e+07  4.927903e+07  142.217453  0.599838
              2012  1.586305e+07  4.996060e+07  144.862839  0.602019
              2013  1.609933e+07  5.063378e+07  146.210968  0.600111
              2014  1.649019e+07  5.119064e+07  148.463394  0.603597

[1430 rows x 4 columns]

In [370]:
# Raise indexes to columns first ...
dfga = dfga.reset_index("country")
dfga

            country        rgdpna          rkna         emp     labsh
year
1950      Australia  1.198593e+05  3.337025e+05    3.416363  0.687863
1951      Australia  1.229079e+05  3.570823e+05    3.471946  0.687863
1952      Australia  1.178770e+05  3.698793e+05    3.528433  0.687863
1953      Australia  1.306650e+05  3.910967e+05    3.585839  0.687863
1954      Australia  1.411110e+05  4.179667e+05    3.644179  0.687863
...             ...           ...           ...         ...       ...
2010  United States  1.527333e+07  4.872814e+07  141.349106  0.595232
2011  United States  1.551793e+07  4.927903e+07  142.217453  0.599838
2012  United States  1.586305e+07  4.996060e+07  144.862839  0.602019
2013  United States  1.609933e+07  5.063378e+07  146.210968  0.600111
2014  United States  1.649019e+07  5.119064e+07  148.463394  0.603597

[1430 rows x 5 columns]

In [371]:
# Set dates to start from Year 1960 and end in Year 2000
dfga = dfga.drop(range(1950, 1960))
dfga = dfga.drop(range(2001, 2015))
dfga

            country        rgdpna          rkna         emp     labsh
year
1960      Australia  1.742107e+05  5.488126e+05    4.014894  0.687863
1961      Australia  1.765863e+05  5.626911e+05    4.026486  0.687863
1962      Australia  1.876725e+05  5.850144e+05    4.123091  0.687863
1963      Australia  2.003423e+05  6.088022e+05    4.240949  0.687863
1964      Australia  2.130122e+05  6.400842e+05    4.393102  0.687863
...             ...           ...           ...         ...       ...
1996  United States  1.091068e+07  3.366985e+07  129.911194  0.612733
1997  United States  1.140024e+07  3.469497e+07  132.932144  0.614939
1998  United States  1.190754e+07  3.585440e+07  135.077072  0.628979
1999  United States  1.246543e+07  3.712233e+07  137.337097  0.631764
2000  United States  1.297554e+07  3.843959e+07  139.296066  0.642679

[902 rows x 5 columns]

In [372]:
# Calculate log(Y/L)
dfga["y"] = np.log(dfga["rgdpna"]/dfga["emp"])

# Calculate log(K/L)
dfga["k"] = np.log(dfga["rkna"]/dfga["emp"])

# Calculate RK/Y, capital share in income
dfga["alpha_K"] = 1.0 - dfga["labsh"]

In [373]:
# Reset all indexes
dfga = dfga.reset_index()

In [374]:
# Pick relevant series, define new dataframe
df_gacc = dfga[["country", "year", "y", "k", "alpha_K"]]
df_gacc

           country  year          y          k   alpha_K
0        Australia  1960  10.678010  11.825501  0.312137
1        Australia  1961  10.688671  11.847592  0.312137
2        Australia  1962  10.725850  11.862789  0.312137
3        Australia  1963  10.762996  11.874462  0.312137
4        Australia  1964  10.789069  11.889319  0.312137
..             ...   ...        ...        ...       ...
897  United States  1996  11.338401  12.465262  0.387267
898  United States  1997  11.359306  12.472266  0.385061
899  United States  1998  11.386836  12.489131  0.371021
900  United States  1999  11.416031  12.507291  0.368236
901  United States  2000  11.441975  12.527997  0.357321

[902 rows x 5 columns]

Next, we will do the following:

* Use ``groupby()`` to group by countries:

    * Compute first difference of ``y`` and ``k`` to get growth rates $g_y$ and $g_k$

    * First-differencing loses one observation

    * Get rid of the (first) row with the non-``na`` observations (after first-differencing)

    * Calculate Solow residual (TFP growth) as

      $$
        \frac{\dot{A}(t)}{A(t)} = g_y(t) - \alpha_K(t) g_k(t).
      $$

In [375]:
df_gacc = df_gacc.sort_values(by=['country', 'year'])
df_gacc["g_y"] = df_gacc.groupby(["country"])["y"].diff()*100.0
df_gacc["g_k"] = df_gacc.groupby(["country"])["k"].diff()*100.0

In [376]:
dg = df_gacc.set_index(["country", "year"]).dropna()
dg["K deepening"] = dg["alpha_K"]*dg["g_k"]
dg["g_A"] = dg["g_y"] - dg["K deepening"]

In [407]:
dg_mean = dg.groupby(["country"]).mean()
dg_mean["TFP share"] = dg_mean["g_A"]/dg_mean["g_y"]

In [408]:
dg_mean

,y,k,alpha_K,g_y,g_k,K deepening,g_A,TFP share
country,,,,,,,,
Australia,11.055918,12.213264,0.348140,1.724264,1.693462,0.564797,1.159467,0.672441
Austria,10.796746,12.112469,0.365929,3.038354,3.867269,1.409189,1.629164,0.536200
Belgium,10.947164,12.415892,0.358192,2.684884,2.757201,0.980796,1.704089,0.634697
Canada,11.017612,12.093057,0.319197,1.438622,1.936372,0.603344,0.835278,0.580610
Denmark,10.926243,12.159598,0.354408,2.279648,3.350363,1.187289,1.092360,0.479179
Finland,10.622775,12.118644,0.351706,3.324354,3.831401,1.283450,2.040903,0.613925
France,10.907500,12.218683,0.307334,2.824197,3.597378,1.018327,1.805870,0.639428
Germany,10.823711,12.026629,0.329660,2.694461,3.601092,1.180906,1.513556,0.561728
Greece,10.591148,12.032296,0.472449,3.464602,4.477148,2.115226,1.349376,0.389475
Iceland,10.609155,12.027357,0.345693,1.979752,2.339207,0.816151,1.163602,0.587751
Ireland,10.840306,12.164953,0.507154,3.457574,2.955780,1.498746,1.958828,0.566533
Italy,10.952742,12.382063,0.406160,3.280345,3.911571,1.546206,1.734140,0.528645
Japan,10.525244,10.555615,0.325059,4.124939,9.917294,3.202586,0.922353,0.223604
Netherlands,10.961096,12.396863,0.296607,2.171645,2.444046,0.661666,1.509980,0.695316
New Zealand,10.775177,11.747774,0.401207,1.190162,1.426047,0.565477,0.624685,0.524874
Norway,11.437047,12.380677,0.371580,2.651401,2.575823,0.918653,1.732747,0.653521
Portugal,10.393892,11.869523,0.355850,3.056961,3.664809,1.306139,1.750822,0.572733
Spain,10.778388,12.039622,0.357122,3.436416,4.474401,1.599287,1.837129,0.534606
Sweden,10.795269,12.246587,0.437445,2.277987,2.662322,1.146660,1.131327,0.496634
Switzerland,11.257430,12.246743,0.334844,1.391352,2.708294,0.905969,0.485383,0.348857
United Kingdom,10.714881,12.249349,0.393685,2.186675,2.315722,0.909997,1.276678,0.583845
United States,11.104426,12.269699,0.370268,1.806203,1.486157,0.545129,1.261074,0.698191

In [409]:
# Cross-OECD averages
dg_mean.mean()

y              10.856085
k              12.089425
alpha_K         0.368622
g_y             2.567491
g_k             3.272416
K deepening     1.180272
g_A             1.387219
TFP share       0.551036
dtype: float64

In [410]:
# Add these cross-OECD averages to dataframe
dg_mean.loc["Average", :] = dg_mean.mean()

In [411]:
dg_mean

,y,k,alpha_K,g_y,g_k,K deepening,g_A,TFP share
country,,,,,,,,
Australia,11.055918,12.213264,0.348140,1.724264,1.693462,0.564797,1.159467,0.672441
Austria,10.796746,12.112469,0.365929,3.038354,3.867269,1.409189,1.629164,0.536200
Belgium,10.947164,12.415892,0.358192,2.684884,2.757201,0.980796,1.704089,0.634697
Canada,11.017612,12.093057,0.319197,1.438622,1.936372,0.603344,0.835278,0.580610
Denmark,10.926243,12.159598,0.354408,2.279648,3.350363,1.187289,1.092360,0.479179
Finland,10.622775,12.118644,0.351706,3.324354,3.831401,1.283450,2.040903,0.613925
France,10.907500,12.218683,0.307334,2.824197,3.597378,1.018327,1.805870,0.639428
Germany,10.823711,12.026629,0.329660,2.694461,3.601092,1.180906,1.513556,0.561728
Greece,10.591148,12.032296,0.472449,3.464602,4.477148,2.115226,1.349376,0.389475
Iceland,10.609155,12.027357,0.345693,1.979752,2.339207,0.816151,1.163602,0.587751
Ireland,10.840306,12.164953,0.507154,3.457574,2.955780,1.498746,1.958828,0.566533
Italy,10.952742,12.382063,0.406160,3.280345,3.911571,1.546206,1.734140,0.528645
Japan,10.525244,10.555615,0.325059,4.124939,9.917294,3.202586,0.922353,0.223604
Netherlands,10.961096,12.396863,0.296607,2.171645,2.444046,0.661666,1.509980,0.695316
New Zealand,10.775177,11.747774,0.401207,1.190162,1.426047,0.565477,0.624685,0.524874
Norway,11.437047,12.380677,0.371580,2.651401,2.575823,0.918653,1.732747,0.653521
Portugal,10.393892,11.869523,0.355850,3.056961,3.664809,1.306139,1.750822,0.572733
Spain,10.778388,12.039622,0.357122,3.436416,4.474401,1.599287,1.837129,0.534606
Sweden,10.795269,12.246587,0.437445,2.277987,2.662322,1.146660,1.131327,0.496634
Switzerland,11.257430,12.246743,0.334844,1.391352,2.708294,0.905969,0.485383,0.348857
United Kingdom,10.714881,12.249349,0.393685,2.186675,2.315722,0.909997,1.276678,0.583845
United States,11.104426,12.269699,0.370268,1.806203,1.486157,0.545129,1.261074,0.698191
Average,10.856085,12.089425,0.368622,2.567491,3.272416,1.180272,1.387219,0.551036

## Table 5.1 in [Aghion and Howitt (2009)](https://www.amazon.com/Economics-Growth-MIT-Press/dp/0262012634)

In [412]:
# Select, reorder series to be similar to Table 5.1
dgm = dg_mean[["g_y", "g_A", "K deepening", "TFP share", "alpha_K"]]
dgm.columns = ["Growth Rate", "TFP Growth", "Capital Deepening", "TFP Share", "Capital Share"]
dgm2 = dgm.style.format(precision=2)
dgm2

Conclusion:

* Between 20% to about 70% of income growth across OECD countries is attributable to TFP.

* These estimates assume Solow-Swan as the yardstick for doing accounting.

In [413]:
print(dgm.round(decimals=2).to_markdown())

| country        |   Growth Rate |   TFP Growth |   Capital Deepening |   TFP Share |   Capital Share |
|:---------------|--------------:|-------------:|--------------------:|------------:|----------------:|
| Australia      |          1.72 |         1.16 |                0.56 |        0.67 |            0.35 |
| Austria        |          3.04 |         1.63 |                1.41 |        0.54 |            0.37 |
| Belgium        |          2.68 |         1.7  |                0.98 |        0.63 |            0.36 |
| Canada         |          1.44 |         0.84 |                0.6  |        0.58 |            0.32 |
| Denmark        |          2.28 |         1.09 |                1.19 |        0.48 |            0.35 |
| Finland        |          3.32 |         2.04 |                1.28 |        0.61 |            0.35 |
| France         |          2.82 |         1.81 |                1.02 |        0.64 |            0.31 |
| Germany        |          2.69 |         1.51 |                1.18 |        0.56 |            0.33 |
| Greece         |          3.46 |         1.35 |                2.12 |        0.39 |            0.47 |
| Iceland        |          1.98 |         1.16 |                0.82 |        0.59 |            0.35 |
| Ireland        |          3.46 |         1.96 |                1.5  |        0.57 |            0.51 |
| Italy          |          3.28 |         1.73 |                1.55 |        0.53 |            0.41 |
| Japan          |          4.12 |         0.92 |                3.2  |        0.22 |            0.33 |
| Netherlands    |          2.17 |         1.51 |                0.66 |        0.7  |            0.3  |
| New Zealand    |          1.19 |         0.62 |                0.57 |        0.52 |            0.4  |
| Norway         |          2.65 |         1.73 |                0.92 |        0.65 |            0.37 |
| Portugal       |          3.06 |         1.75 |                1.31 |        0.57 |            0.36 |
| Spain          |          3.44 |         1.84 |                1.6  |        0.53 |            0.36 |
| Sweden         |          2.28 |         1.13 |                1.15 |        0.5  |            0.44 |
| Switzerland    |          1.39 |         0.49 |                0.91 |        0.35 |            0.33 |
| United Kingdom |          2.19 |         1.28 |                0.91 |        0.58 |            0.39 |
| United States  |          1.81 |         1.26 |                0.55 |        0.7  |            0.37 |
| Average        |          2.57 |         1.39 |                1.18 |        0.55 |            0.37 |